:root {
    font-size: 62.5%;
    --cor-fundo: #865dff;
    --cor-card: #191825;
    --cor-secundaria: #514869;
    --botao: #ffa3fd;
    --branco: #ffffffdc;
    --cinza: #cac2c2;
}

h2 { 
    margin-top: 2rem;
    text-align: center;
    font-size: 1.8rem;
    color: #fff;
}

main {
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerPlataform {
    background-color: #865dff;
}

.cardPlataform {
    display: flex;
    flex-direction: column;

    width: 20rem;
    height: 20em;

    align-items: center;
    color: #fff;

    background-color: var(--cor-secundaria);
    border: none;
    border-radius: 2rem;

    transition: all .4s ease-in-out;
    cursor:pointer;
}

.cardGame {
    display: flex;
    flex-direction: column;

    align-items: center;

    background-color: var(--cor-card);

    width: 30rem;
    height: 48rem;

    border-radius: 1.5rem;
    gap: 3rem;
}

.cardPlataform:hover {
    transition: .4s;
    transform: scale(1.1);

    background-color: var(--botao);
    color: #000;
}

.card-row, .card-rowGames {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    gap: 10rem;
    
    margin-top: 10rem;
    height: 100vh;
}

.card-rowGames {
    gap: 5rem;
}

.grupo { 
    display: flex;
    width: 120rem;
}

.grupo-game {
    display: flex;
    align-items: center;
    width: 140rem;
}

.plataform-icon {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 15rem;
    height: 12.5rem;
}

.game-icon {
    width: 25rem;
    height: 20rem;
}

.plataform-text {
    font: 300 1.8rem 'black ops one';
}

.game-info { 
    font: 300 1.6rem 'Arial';
    color: #fff;
}

.game-info li {
    margin-bottom: 0.3rem;
    margin-left: 1.5rem;
}

.button-avaliar{ 
    width: 25rem;
    height: 4rem;

    background-color: var(--botao);
    border: none;
    border-radius: 1rem;

    font: 400 2rem 'black ops one';
    
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.button-avaliar:hover {
    transition: .4s;
    transform: scale(1.1);
    background-color: var(--cor-fundo);
    color: #fff;
}

.card-user {
    background-color: var(--cor-card);
    
    width: 75rem;
    height: 75rem;
    border-radius: 2rem;
}

.user-infos {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 4rem;
}

.user-infos h2 {
    font: 400 2rem 'Arial';
}

.user-infos-row {
    display: flex;
    gap: 5rem;

    height: 44rem;
}

.user-infos-column {
    display: flex;
    flex-direction: column;
}

.card-infosLabel {
    color: #fff;
    font: 400 1.5rem 'Arial';

    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.card-infosInput, .card-infosInputEnabled {
    border: none;
    background: none;
    
    border-bottom: solid .1rem #fff;
    padding-left: 0.2rem;

    width: 30rem;
    height: 4rem;
    cursor:not-allowed;
}

.card-infosInputEnabled {
    color: #fff;
    cursor:text;
}

.card-infosInputEnabled::placeholder {
    color: red;
}

.classe-infosLista {
    font: 400 1.5rem 'Arial';
    color: #fff;
    margin-top: 0.5rem;
    margin-left: 6.5rem;
    margin-bottom: 0.5rem;
}

.classe-infosSpan {
    color: var(--botao);
    font-weight: bolder;
    transition: all .4s ease-in-out;
}

.classe-infosSpan:hover {
    font-size: 2rem;
    transition: .4s;
}

.userPhoto {
    margin-top: 1rem;
    width: 25rem;
    height: 15rem;
}

.username {
    font: 600 3rem 'black ops one';
    margin-bottom: 2rem;
    text-align: center;
}

.userButtons {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

}

.button-user {
    width: 15rem;
    height: 4rem;

    font: 400 1.5rem 'black ops one';
    background-color: var(--botao);

    margin-left: 6rem;
    margin-right: 6rem;

    border: none;
    border-radius: 1rem;
    
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.button-user:hover {
    transition: .4s;
    transform: scale(1.1);
    font-size: 1.8rem;

    background-color: var(--cor-fundo);
    color: #fff;
}

@media only screen and (max-width: 768px) {

    html { 
        min-width: fit-content;
    }

    .grupo { 
        width: 60rem;
    }
}