:root {
    font-size: 62.5%;
    --cor-fundo: #865dff;
    --cor-card: #191825;
    --cor-secundaria: #514869;
    --botao: #ffa3fd;
    --branco: #ffffffdc;
    --cinza: #cac2c2;
}

    body {
        display: flex;
        flex-direction: column;
    }

.cardDetails, .cardDetails-plataform {
    display: flex;
    flex-direction: column;

    width: 85rem;
    height: 60rem;

    border: none;
    border-radius: 3rem;

    background-color: var(--cor-card);
}

.cardDetails-plataform {
    height: 64rem;
}

.card-details h1 {
    font: 600 4rem 'black ops one';
    text-align: center;

    margin-top: 4rem;
    margin-bottom: 4rem;
}

.cardDetails-info {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 5rem;
}

.cardDetails-infoPlataforma {
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 2rem;
    margin-bottom: 3rem;
}

.imgDetails { 
    width: 40rem;
    height: 33rem;

    border-radius: 2rem;
}

.gameDetails { 
    display: flex;
    flex-direction: column;
    
    width: 25rem;
    height: 33rem;
}

.details-label, .details-labelPlataform { 
    font: 300 1.8rem 'Arial';
    color: #fff;

    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}



.details-input, .details-input-select, .details-inputEnabled, .details-input-selectEnabled , .details-inputPlataform, .details-inputPlataform-enabled {
    font: 300 1.3rem 'Arial';
    color: #fff;

    background-color: var(--cor-secundaria);
    border: none;
    border-radius: 0.5rem;

    padding-left: 1rem;
    outline: none;

    width: 24rem;
    height: 3rem;
}

.details-inputPlataform, .details-inputPlataform-enabled {
    width: 38rem;
}

.details-input::placeholder, .details-inputPlataform::placeholder {
    color: #fff;
}

.details-inputEnabled, .details-input-selectEnabled, .details-inputPlataform-enabled {
    color: #C0C0C0;
}

.details-inputEnabled::placeholder, .details-input-selectEnabled::placeholder { 
    color: #C0C0C0;
}

.details-input-select, .details-input-selectEnabled {
    width: 25rem;
}

.footer-details {
    display: flex;
    justify-content: space-around;
}

.button-details {
    background-color: var(--botao);
    border: none;
    border-radius: 0.6rem;

    font: 400 1.8rem 'black ops one';
    color: #000;

    width: 15rem;
    height: 4rem;
    
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.button-details:hover {
    transition: .4s;
    transform: scale(1.1);
    
    background-color: var(--cor-fundo);
    color: #fff;
}

.button-details:last-child {
    margin-left: 4rem;
}

.button-row {
    display: flex;
    gap: 1rem;
}
