* {
    margin: 0;
    padding: 0;
    font-family: 'black ops one';
}

body {
    background-color: #865eff;
}

.main {
    width: auto;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;

    width: auto;
    height: 50%;
    
    background-color: #2e2840;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}

.container-user {
    display: flex;
    flex-direction: column;
    
    width: 75%;
    margin: auto;
}

.container-user-text {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    margin-bottom: 2%;
    margin-top: 2%;
}

.container-user-input {
    background-color: #514769;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    height: 35px;
    padding-left: 2%;
}

.container-user-login {
    background-color: #FFFFFF;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    

    height: 40px;
}

.container-user-textCadastro {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

    margin-top: 3%;
    text-align: center;
}

.logotipo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-top: 5%;

    width: 20%;
    height: auto;
}