* {
    padding: 0;
    margin: 0;
    font-family: 'black ops one';
    font-weight: 100;
}
body {
    background-color: #865dff;
}
header {
    display: flex;
    justify-content: center;
    background-color: #191825;
    padding: 5px;
}

.cabecalho {
    display: flex;
    align-items: center;
    text-align: center;

    gap: 50px;

    font-family: 'black ops one';
    color: white;
}

#logo {
    width: 120px;
    height: 70px;

}

.cabecalho a {
    color: #FFF;
}

.cabecalho-dropdown {
    display: inline-block;
    position: relative;
}

.cabecalho-dropdown-text {
    display: flex;
    

    font-size: 20px;
}

.cabecalho-dropdown-content {
    display: none;
    position: absolute;
    
    min-width: 140px;
    
    padding: 12px 16px;
    
    z-index: 1;
    
    font: normal 15px 'black ops one';

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #3b3952;
}

.cabecalho-dropdown:hover .cabecalho-dropdown-content {
    display: block;
  }

.grupo {
    display: flex;
    flex-direction: row;
    gap: 100px;

    margin: 60px 150px 20px 200px;
}


.container {
    margin-top: 10px;
}
.cards {
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;
    width: 300px;
    height: 300px;
    background-color: #191825;
    border-radius: 15px;
}
.infos {
    color: white;

    display: flex;
    flex-direction: column;

    font-size: 15px;
}
.infos h2 {
    display: flex;
    justify-content: center;
}
.div-dos-botoes{

    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 30px;
}




.grupo-um {
    display: flex;
    gap: 100px;
}
.grupo-dois {
    display: flex;
    gap: 100px;
}





#button-principal {
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 30px;
    height: 70px;
    
    border-radius: 15px;
    background-color: #ffa3fd;

    cursor: pointer;
    border: none;
}

#button-principal:hover {
    transition: .2s;
    background-color: #fccbfc;
}
