* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #865dff;
}

header {
    background-color: #191825;
    padding: 5px;

}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-family: 'black ops one';
    color: white;
}

.cabecalho-teste {
    margin-right: 7%;
}

#logo {
    width: 120px;
    height: 70px;

    justify-content: center;
}

.cabecalho a {
    color: #FFF;
}

.cabecalho-dropdown {
    display: inline-block;
    position: relative;
}

.cabecalho-dropdown-text {
    display: flex;

    font-size: 20px;
    padding-right: 2rem;
}

.cabecalho-dropdown-content {
    display: none;
    position: absolute;
    
    min-width: 160px;
    
    padding: 10px 5px;
    
    z-index: 1;
    
    font: normal 15px 'black ops one';

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #3b3952;
}

.cabecalho-dropdown-content a {
        color: #fff;
        padding: 5px;
        text-decoration: none;
        display: block;
}

.cabecalho-dropdown-content a:hover {
    background-color: #865dff;
    color: #000;
    transition: .4s;
}

.cabecalho-dropdown:hover .cabecalho-dropdown-content {
    display: block;
  }


.grupo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 100px;

    margin: 60px 150px 20px 200px;
}

.card-container {
    display: flex;
    flex-direction: column;

    width: 300px;
    height: 420px;
    background-color: #3b3952;
    border-radius: 15px;
    
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;    
}

.card-container-infos{ 
    flex: 1;
}

.card-container-infos h2 {
    margin-top: 5%;
    text-align: center;

    font-size: 20px;
    font-family: 'black ops one';
}

.card-container-infos figure{
    text-align: center;
    
    margin-top: 2%;
}

.card-container-infos img {

    width: 150px;
    height: 110px;
}

.card-container-infos h3 {
    margin-right: 15px;

    display: flex;
    justify-content: end;

    color: white;
    font-size: 30px;
}


.card-container-infos ul {
    margin: 5% 10% 5% 12%;

}

.card-container-infos li{
    margin-top: 2%;

    font-size: 17px;
}

.class-container-button {
    display: flex;
    text-align: center;
    justify-content: center;

}

.class-container-button button {
    margin: 0% 5% 5% 5%;
    
    font-size: 20px;
    font-family: 'black ops one';

    width: 270px;
    height: 50px;

    border-radius: 15px;
    background-color: #ffa3fd;
    cursor: pointer;
    border: none;
}

.class-container-button button:hover {
    margin: 0% 5% 5% 5%;

    width: 300px;
    height: 50px;

    border-radius: 15px;
    background-color: #fccbfc;
    cursor: pointer;
    border: none;
}

