* {
    padding: 0;
    margin: 0;
    font-family: 'black ops one';
    font-weight: 100;
}
body {
    background-color: #865dff;
}
header {
    background-color: #191825;
    padding: 5px;

}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-family: 'black ops one';
    color: white;
}

.cabecalho-teste {
    margin-right: 7%;
}

#logo {
    width: 120px;
    height: 70px;

    justify-content: center;
}

.cabecalho a {
    color: #FFF;
}

.cabecalho-dropdown {
    display: inline-block;
    position: relative;
}

.cabecalho-dropdown-text {
    display: flex;

    font-size: 20px;
    padding-right: 2rem;
}

.cabecalho-dropdown-content {
    display: none;
    position: absolute;
    
    min-width: 160px;
    
    padding: 10px 5px;
    
    z-index: 1;
    
    font: normal 15px 'black ops one';

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #3b3952;
}

.cabecalho-dropdown-content a {
        color: #fff;
        padding: 5px;
        text-decoration: none;
        display: block;
}

.cabecalho-dropdown-content a:hover {
    background-color: #865dff;
    color: #000;
    transition: .4s;
}

.cabecalho-dropdown:hover .cabecalho-dropdown-content {
    display: block;
  }

.main {
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {

    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
    
    background-color: #2e2840;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;

    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 15px;
}

.container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 10px;
    padding: 10px 40px 5px 40px;
}

.container-row-logo img {
    width: 50px;
    height: 50px;
}

.container-row-plataforma {
    font-size: 18px;
    font-weight: bolder;

    color: #fff;
}

.container-row-button input {
 
    height: 50px;
    width: 100px;

    font-weight: bolder;
    font-size: 15px;

    border-radius: 15px;
    background-color: #ffa3fd;

    cursor: pointer;
    border: none;
}

.container-row-button input:hover {
        transition: .4s;
        background-color: #fccbfc;
}

#button-principal:hover {
    transition: .2s;
    background-color: #fccbfc;
}

@media only screen and (max-width: 768px) {

    html {
        min-width: fit-content;
    }

    .cabecalho {
        flex-direction: column;
        align-items: center;
    }

    #logo {
        margin-bottom: 10px;
    }

    .cabecalho-teste {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .cabecalho-dropdown-text {
        padding-right: 0;
    }

    .container{
        flex-direction: column;
    }

    .container-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;

    }

    .container-row-logo img {
        margin-bottom: 10px;
    }
}
