*{
    margin: 0;
    padding: 0;
    font-family: 'black ops one';
}

body{
    background-color: #303030;

}
.main {
    width: auto;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;

    width: 738px;
    height: 620px;

    background-color: #111010;
    border-radius: 20px;
}

.titulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.titulos h1 {
    margin-top: 40px;
    color: white;  
    font-weight: 100;
}
.titulos h1 > span {
    color: #865dff;
}

.titulos h2 {
    color: white;
    margin-top: 30px;
    font-weight: 100;
}

.botoes {
    display: flex;
    flex-direction: column;

    margin-top: 40px;
    margin-left: 118px;
    margin-right: 118px;
    
}

#btn {
    padding: 20px 0px 20px 0px;

    margin-bottom: 35px;

    border-radius: 10px;

    background-color: #ffa3fd;
    color: #191825;

    font-size: 25px;

    cursor: pointer;
}

#btn:hover {
    transition: .4s;
    background: #865dff;
    color: #fff;
}

.logotipo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-top: 25px;
    width: 105px;
    height: 60px;
}

.dropdown {
    display: inline-block;
    position: relative;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    align-items: flex-end;
    
    min-width: 160px;
    
    margin-left: 2%;
    padding: 10px 5px;
    
    z-index: 1;
    
    color: #fff;
    font: normal 15px 'black ops one';

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #ffa3fd;
    cursor: pointer;
}

.dropdown-content a {
    color: #000;
    padding: 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #865dff;
    color: #fff;
    transition: .4s;
}

.dropdown:hover .dropdown-content {
    display: block;
  }



.dropdown-text {
    display: flex;
    flex-direction: column;

    color: white;
    font-size: 15px;
    font-weight: 100;

    padding-left: 2%;
}