* {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
}

body {
    background-color: #865eff;
}

.main {
    width: auto;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;


    width: 600px;
    height: 500px;
    
    background-color: #2e2840;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;

    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 15px;
}

.container h2 {
    font: bold 30px 'Arial';
    color: #fff;
    margin: 2%;

    justify-content: center;
    text-align: center;
}

.container-user {
    display: flex;
    flex-direction: column;
    
    margin-left: 5%;
    margin-right: 5%;
}

.container-user-text {
    color: #FFFFFF;
    font-weight: bold;

    margin-bottom: 4%;
    margin-top: 4%;
}

.container-user-input {
    background-color: #514769;
    border-radius: 9px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    height: 35px;
    padding-left: 4%;
}

.container-user-login {
    background-color: #FFFFFF;
    border-radius: 8px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    font: bold 15px 'Roboto';
    
    margin-top: 10%;
    height: 40px;
}

.container-user-login:hover {
    background-color: #865eff;
    color: #fff;
}


.logotipo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-top: 5%;

    width: 25%;
    height: auto;
}

.container-user-textCadastro {
    color: #FFFFFF;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 12px;

    margin-top: 3%;
    text-align: center;
}