@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto:wght@300&family=Teko:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    --cor-fundo: #865dff;
    --cor-card: #191825;
    --cor-secundaria: #514869;
    --botao: #ffa3fd;
    --branco: #ffffffdc;
    --cinza: #cac2c2;
}

.containerEdit {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    align-items: center;
    justify-content: center;

    width: auto;
    height: 100vh;
    background-color: var(--cor-fundo);
}

.cardMenu {
    display: flex;
    flex-direction: column;

    width: 75rem;
    height: 65rem;

    background-color: var(--cor-card);
    border-radius: 2rem;
    border: none;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.infos_edit {
    display: flex;
    flex-direction: column;

    text-align: center;
    justify-content: center;

    gap: 3rem;
}

.infos_edit h1 {
    margin-top: 3rem;
    font: 600 3.5rem 'black ops one';
}


.infos_edit_gamePlataforms {
    display: flex;

    color: #fff;
    text-align: start;
    justify-content: space-around;
    margin-top: 1rem;
    height: 42rem;

}

.infos_edit_gamePlataforms li {
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    border: none;
    text-align: start;

    color: #fff;
    font: 400 1.5rem 'Arial';
    transition: all .5s ease-in-out;

}

.infos_edit_gamePlataforms li:hover {
    font-size: 2rem;
    transition: .4s;
    color: var(--cor-fundo);
}

.logotipo {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 3rem;
}

.logo {
    width: 15rem;
}

@media only screen and (max-width: 768px) {

    .cardMenu {
        width: 31rem;
        height: 60rem;
    }

    .cardMenu h1 {
        margin-top: 1rem;
        font-size: 1.8rem;
    }

    .cardMenu h2 {
        font-size: 1.8rem;
    }

    .infos_edit {
        gap: 0;
    }

    .infos_edit_games_plataforms {
        justify-content: center;
        height: 0;
        margin-top: 0;
    }

    .infos_edit_gamePlataforms li {
        font: 1.2rem;

    }

    .footerMenu_admin {
        margin-top: 3rem;
        align-items: center;
        margin-right: 0;
    }

    .logo {
        width: 10rem;
    }

    .buttonMenu {
        font-size: 1.5rem;
        
        width: 20rem;
        height: 4rem;
    }
}