@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto:wght@300&family=Teko:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    --cor-fundo: #865dff;
    --cor-card: #191825;
    --cor-secundaria: #514869;
    --botao: #ffa3fd;
    --branco: #ffffffdc;
    --cinza: #cac2c2;
}

.container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #865dff;
}

.grupo_game {
    display: flex;
    align-items: center;
    width: 140rem;
}

.card_rowGames {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    margin-top: 5rem;
    gap: 5rem;
}

.cardGame {
    display: flex;
    flex-direction: column;

    align-items: center;

    background-color: var(--cor-card);

    width: 30rem;
    height: 48rem;

    border-radius: 1.5rem;
    gap: 3rem;
}

.cardGame h2 {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.8rem;
    color: #fff;
}

.game_icon {
    width: 25rem;
    height: 20rem;
}

.game_info {
    font: 300 1.6rem 'Arial';
    color: #fff;
}

.game_info li {
    margin-bottom: 0.3rem;
    margin-left: 1.5rem;
}

.button_avaliar {
    width: 25rem;
    height: 4rem;

    background-color: var(--botao);
    border: none;
    border-radius: 1rem;

    font: 400 2rem 'black ops one';
    
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.button_avaliar:hvoer {
    transition: .4s;
    transform: scale(1.1);
    background-color: var(--cor-fundo);
    color: #fff;
}

@media only screen and (max-width: 768px) {

    html { 
        min-width: fit-content;
    }

    .grupo { 
        margin-top: 5rem;
        width: 60rem;
    }
}