@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto:wght@300&family=Teko:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    --cor-fundo: #865dff;
    --cor-card: #191825;
    --cor-secundaria: #514869;
    --botao: #ffa3fd;
    --branco: #ffffffdc;
    --cinza: #cac2c2;
}

.container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    height: 100vh;

    background-color: #865dff;
}

.card_user {
    background-color: var(--cor-card);
    
    width: 75rem;
    height: 75rem;
    border-radius: 2rem;
}

.user_infos {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 4rem;
}

.user_infos h2 {
    font: 400 2rem 'Arial';
    color: #fff;
    margin-left: 5rem;
    padding-bottom: 1rem;
}

.userPhoto {
    margin-top: 1rem;
    width: 25rem;
    height: 15rem;
}

.username {
    font: 600 3rem 'black ops one';
    margin-bottom: 2rem;
    text-align: center;
}

.user_infos_row {
    display: flex;
    gap: 5rem;

    height: 44rem;
}

.user_infos_column {
    display: flex;
    flex-direction: column;
}

.user_infosLabel {
    color: #fff;
    font: 400 1.5rem 'Arial';

    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;   
}

.user_infosInput, .user_infosInput_enabled {
    border: none;
    background: none;
    
    border-bottom: solid .1rem #fff;
    padding-left: 0.2rem;

    width: 30rem;
    height: 4rem;
    cursor:not-allowed;
}

.user_infosInput_enabled { 
        color: #fff;
        cursor:text;
}

.card-infosInput_enabled::placeholder {
    color: red;
}

.classe_infosLista {
    font: 400 1.5rem 'Arial';
    color: #fff;
    margin-top: 0.5rem;
    margin-left: 6.5rem;
    margin-bottom: 0.5rem;
}

.classe_infosSpan {
    color: var(--botao);
    font-weight: bolder;
    transition: all .4s ease-in-out;
}

.classe_infoSpan:hover {
    font-size: 2rem;
    transition: .4s;
}

.userButtons, .userButtons_x {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

.userButtons_x {
    justify-content: space-evenly;
}


.userButtons_row {
    display: flex;
    flex: row;
    gap: 2rem;
    margin-left: 5rem;
}

.userButtons_x {
    margin-right: 5rem;
}

.button_user {
    width: 15rem;
    height: 4rem;

    font: 400 1.5rem 'black ops one';
    background-color: var(--botao);


    border: none;
    border-radius: 1rem;
    
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.button_user:hover {
    transition: .4s;
    transform: scale(1.1);
    font-size: 1.8rem;

    background-color: var(--cor-fundo);
    color: #fff;
}