@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto:wght@300&family=Teko:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    --cor-fundo: #865dff;
    --cor-card: #191825;
    --cor-secundaria: #514869;
    --botao: #ffa3fd;
    --branco: #ffffffdc;
    --cinza: #cac2c2;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    align-items: center;
    justify-content: center;
    height: 100vh;

    background-color: #865dff;
}

.card_addGames {
    display: flex;
    flex-direction: column;

    width: 70rem;
    height: 60rem;

    background-color: var(--cor-card);
    border: none;
    border-radius: 2rem;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card_infoGames {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;

    color: #fff;
    gap: 2rem;
}

.logoPlataform {
    width: 15rem;
    margin-top: 3rem;
}

.card_infoGames h1 {
    font: 500 3rem 'black ops one';
}

.card_infoGames_inputs {
    display: flex;
    flex-direction: column;
}

.card_infoGames_inputText, .card-inputDate, .card_infoGames_select, .card_inputDate  {
    width: 54rem;
    height: 4rem;

    border: none;
    outline: none;
    border-radius: 0.8rem;

    background-color: var(--cor-secundaria);
    color: #fff;

    padding-left: 1rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

.card_infoGames_select {
    width: 25rem;
    height: 4rem;
}

.card_inputDate {
    width: 12rem;
}

.card_infoGames::placeholder {
    color: var(--cinza);
}

.input_label, .input_label_date {
    font: 600 1.5rem 'Arial';
    padding-left: 0.5rem;
}

.input_label_date {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 2rem;
}


.cardRow, .cardRow_date {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.cardRow_date {
    gap: 1rem;
}

.cardColumn {
    display: flex;
    flex-direction: column;
}

.footer_plataform {
    display:flex;
    flex-direction: row;

    gap: 5rem;
}

.buttonAddGames {
    width: 25rem;
    height: 5rem;
    
    border: none;
    border-radius: 0.8rem;

    background-color: #ffa3fd;
    font: bolder 2.5rem 'black ops one';

    cursor: pointer;
    transition: all .5s ease-in-out;
}

.buttonAddGames:hover {
    transition: .5s;
    transform: scale(1.02);

    background-color: #865dff;
    color: #fff;
}